@if (appContext.isLoading()) {
  <section class="min-h-screen grid place-items-center">
    <p>Chargement de ton espace Trajectiv...</p>
  </section>
} @else if (appContext.hasError()) {
  <section class="min-h-screen grid place-items-center">
    <div>
      <h1>Impossible de charger ton espace</h1>
      <p>Une erreur est survenue lors du chargement de ton profil.</p>
      <button type="button" (click)="appContext.reloadMe()">
        Réessayer
      </button>
    </div>
  </section>
} @else if (appContext.isDisabled()) {
  <section class="min-h-screen grid place-items-center">
    <div>
      <h1>Compte désactivé</h1>
      <p>Ton compte Trajectiv n’est actuellement pas actif.</p>
    </div>
  </section>
} @else if (appContext.isReady()) {
  <div
    class="app-layout"
    [class.app-layout--onboarding]="navigation.shellMode() === 'onboarding'"
  >
    @if (navigation.showNavbar()) {
      <header class="app-layout__navbar">
        <app-navbar></app-navbar>
      </header>
    }

    <div class="app-layout__main">
      @if (navigation.showSidebar()) {
        <aside class="app-layout__sidebar">
          <app-sidebar></app-sidebar>
        </aside>
      }

      <main class="app-layout__content">
        <router-outlet/>
      </main>
    </div>

    @if (navigation.showBottomBar()) {
      <nav class="app-layout__bottom-bar">
        <app-bottom-bar></app-bottom-bar>
      </nav>
    }
  </div>
}
