@reference 'tailwindcss';

:host {
  --app-mobile-navbar-height: 4rem;
  --app-sidebar-expanded-width: 16rem;
}
.app-layout {
  @apply flex flex-col h-screen w-screen z-50 overflow-y-auto relative;
}
.app-layout__navbar {
  height: var(--app-mobile-navbar-height);
  @apply sticky top-0  z-999 block md:hidden shrink-0;
}
.app-layout__main {
  @apply flex flex-1;
}
.app-layout__sidebar {
  @apply hidden md:flex flex-col z-99 sticky left-0 top-0 h-dvh w-fit;
}
.app-layout__content {
  @apply flex flex-1 min-h-full z-50 px-5 pt-5 justify-center pb-20 h-fit;
}
:host ::ng-deep .app-layout__content > router-outlet + * {
  @apply container;
}
.app-layout__bottom-bar {
  @apply flex md:hidden fixed bottom-0 w-full  z-999 h-20;
}
