@let groupError = form().errors();

<form (submit)="onSubmit($event)" class="flex flex-col flex-1 gap-6">
  <div class="w-full">
    <div class="flex flex-col gap-2">
      <label for="email">Email</label>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-envelope"></i>
        </p-inputgroup-addon>
        <input type="email" class="border-l-0" pInputText id="email" [formField]="form.email" autocomplete="off" fluid [class.p-invalid]="form.email().invalid() && form.email().touched()" placeholder="you@example.com" />
      </p-inputgroup>
    </div>
    @let username = form.email();
    <form-errors [field]="username"></form-errors>
  </div>
  <div class="flex flex-col gap-2">
    <label for="password">Password</label>
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-lock"></i>
      </p-inputgroup-addon>
        <input
          id="password"
          class="border-l-0 border-r-0"
          pInputText
          [type]="showPassword() ? 'text' : 'password'"
          [formField]="form.password"
          autocomplete="current-password"
          fluid
          [class.p-invalid]="form.password().invalid() && form.password().touched()"
          placeholder="••••••••"
        />
      <p-inputgroup-addon>
        <p-button icon="pi pi-eye" severity="secondary" variant="text" (click)="togglePasswordVisibility()" />
      </p-inputgroup-addon>
    </p-inputgroup>
    @let password = form.password();
    <form-errors [field]="password"></form-errors>
    <a href="#" class="text-sm text-primary w-full text-right">Forgot password?</a>
  </div>
  <div class="flex flex-col gap-2">
    <div class="flex items-center">
      <p-checkbox
        inputId="remember-me"
        [binary]="true"
        [formField]="form.rememberMe"
      />
      <label for="remember-me" class="ml-2">Remember me</label>
    </div>
  </div>
  <div class="card flex justify-center">
    <p-button label="Sign in" type="submit"  class="w-full" fluid size="large"/>
  </div>
</form>
<div class="flex justify-center gap-3 mt-5">
  <p>Don't have an account ?</p>
  <a [routerLink]="['/sign-Up']" class="text-primary">Sign Up</a>
</div>
